{% extends 'base.html' %}

{% load static %}

{% block page %}

<div>

<form method='post'>
{% csrf_token %}
{{form}}
<input type="submit">
</form>

</div>
{% endblock %}


{% extends 'base.html' %}

{% load static %}

{% block page %}


<div style="padding-top: 10%;">
  <section class="site-section bg-light bg-image" id="login-section">
    <div class="container">
          <div class="row mb-6">
            <div class="col-12 text-center">
              <h2 class="section-title mb-3">Log In</h2>
            </div>
          </div>
      <div class="row mb-4">
          <div class="col-md-6 mb-8">
            <form method='post'>
                {% csrf_token %}
                {{form}}
                <input type="submit">
            </form>    
        </div>
      </div>
    </div>
  </section>

<div>

</div>

{% endblock %}